.userFrom{
    width: 100%;
    position: relative;
}
.userimg{
    position: absolute;
    right: 100px;
    top:0;
    width: 140px;
    height: 160px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
}
.userimg img{
    width: 100%;
    height: 100%;
}
.mydialog .el-dialog__header{
    border-bottom: 1px solid #eee;
}

.mydialog .el-dialog__footer{
    border-top: 1px solid #eee;
    text-align: center;
}

.ckpartarbox{
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}
.ckpartar{
    width: calc(100% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    border-radius: 4px;
}
.ckpartar i{
    display: none;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}
.ckpartar:hover i{
    display: block;
}
.ckpartar:hover {
    background-color: #eeeeeeaa;
}
/* 团长列表的团成员图片 */
.grouplist{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.groupbox_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 3px;
    box-sizing: border-box;
}
.group_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.group_img img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
